@import "tailwindcss";

@theme {
  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-zoom-in: zoomIn 0.5s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}